# Python
__pycache__/
*.pyc
*.pyo
*.pyd
# Environments
venv/
penv/
env/
.venv/
penv/

# Django
db.sqlite3
*.log

# Environment variables
.env
.env.*

# Vue / Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*